<template>
    <div class="container">
        <h3 class="text-center">Contact A parent</h3>
        <div class="row">
            <div class="col-md-8">
                <div v-if="v1" @click="getMessages(parent.id)" v-for="parent in parents" class="panel panel-default">
                    <div class="panel-heading" style="color: green; font-weight: bold;">
                        {{parent.name}}
                    </div>
                    <div class="panel-body">
                         view conversation
                    </div>

                </div>
                <div v-if="v2" class="panel panel-default">
                    <div class="panel-heading">
                        <a @click="back" class="btn btn-success">Back</a>
                    </div>
                    <div class="panel-heading">
                      Messages
                    </div>
                    <div class="panel-body">
                        <div v-if="messages.length" v-for="message in messages" class="panel-body">
                            <div v-if="profile_user_id!=message.user_id" class="panel-item" style="background-color: white; font-size: 17px; font-weight: bold; border-radius: 10%; margin-bottom: 1%;color: darkslategrey; text-align: left">
                                <img src="uploads/default.jpg" alt="KILIMO" style="width:5%; border-radius: 50%" height="5%">
                                {{message.body}}<br>
                                <span style="font-size: 12px; color: #660066; font-style: italic">{{message.created_at}}</span>
                            </div>
                            <hr>
                            <div v-if="profile_user_id==message.user_id" style="background-color: white; border-radius: 10%; font-size: 17px; font-weight: bold; margin-bottom: 1%;color: black; text-align: right">
                                <span style="font-size: 15px; font-style: italic; text-decoration: dotted; color: red">me</span><br>
                                <img src="uploads/logo_1.png" alt="KILIMO" style="width:5%; border-radius: 50%" height="5%">
                                {{message.body}}<br>
                                <span style="font-size: 12px; color: #660066; font-style: italic">{{message.created_at}}</span>

                                <hr>
                            </div>
                        </div>
                        <div v-if="!messages.length" class="panel-body">
                            <h5 class="text-center">No Messages Yet</h5>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <form @submit.prevent="sendmessage" class="form-horizontal">
                            <div class="form-group">
                                <input type="text" v-model="message" name="message" id="message" class="form-control" placeholder="enter message"/>
                            </div>

                            <button type="submit" class="btn btn-success">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        mounted() {
            this.$http.get('/secretary1').then((response)=>{
                console.log(response.data)
                this.parents=response.data
            })
        },
        data(){
            return{
                parents: [],
                v1: true,
                v2: false,
                messages: [],
                message: '',
                id: null,
                uid: null,
            }
        },
        props: ['profile_user_id'],
        methods:{
            getMessages: function ($id) {
                this.v1=false
                this.v2=true
                this.id=$id
                this.$http.get('/getuid').then((response)=>{
                    console.log(response.data)
                    console.log(this.profile_user_id);
                    this.uid=response.data
                }),
                this.$http.get('/getMessages/'+$id).then((response)=>{
                    this.messages=response.data
                })
            },
            back:function () {
                this.id=null
                this.v1=true
                this.v2=false
            },
            sendmessage:function () {
                let postData = {
                    message: this.message,
                }
                this.$http.post('/sendmessage/'+this.id,postData).then((response)=>{
                    this.messages=response.data
                })
                
            }


        }

    }
</script>
